*{
    margin: 0;
    padding: 0;
}


#big{
    height: 75vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    width: 20%;
    margin-left: 20%;
    margin-top: 7%;
    width: 57%;
    border-radius: 20px;
}

#left{
    float: left;
    height: 75vh;
    width: 50%;
    border-radius: 20px;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}

#right{
    float: right;
    width: 44%;
    height: 75vh;
    margin-top: 35px;
}

#firsttxt{
    margin-left: 120px;
    color: rgb(215, 215, 215);
}

#circle{
    background:linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    margin-top: 14%;
    margin-left: 90px;
    height: 180px;
    border-radius: 270px;
    margin-right: 90px;
    text-align: center;
    color: white;  
}



#num{
    padding-top: 40px;
    font-size: 70px;
    font-weight: bolder;
}

#nums{
    font-size: 17px;
    font-weight: bold;
    color: rgb(181, 181, 181);
}


#great{
   margin-top: 15px;
   margin-left: 140px;
   color: white;
   margin-bottom: 14px;
}

label{
    color: rgb(215, 215, 215);
}

#ttxt{
    margin-left: 95px;
}

#sectxt{
    margin-left: 110px;
}

#tttxt{
    margin-left: 150px;
}


#firstdiv{
    border-radius: 10px;
    width: 80%;
    height: 7.3vh;
    margin-top: 26px;
    background-color: hsl(0, 67%, 96%);
}

#reaction{
    color: rgb(238, 79, 79);
    margin-top: 10px;
    margin-left: 40px;
}

#ee{
    float: left;
    margin-top: 4px;
    height: 6vh;
    width: 60%;
    background-image: url(./Image/icon-reaction.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x:10% ;
}

#er{
    float: right;
    height: 6vh;
    margin-top: 13px;
    margin-right: 10px;
}

#ss{
    color: rgb(125, 125, 125);
}

.vin{
    font-size: 13px;
}

#seconddiv{
    border-radius: 10px;
    width: 80%;
    height: 7.3vh;
    margin-top: 26px;
    background-color: rgb(254, 254, 215);
}


#lefter{
    float: left;
    height: 6vh;
    width: 60%;
    background-image: url(./Image/icon-memory.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x:10%;
    margin-top: 5px;
}

#memory{
    margin-top: 10px;
    margin-left: 40px;
    color: rgb(173, 173, 23);
}


#righter{
    float: right;
    margin-top: 13px;
    margin-right: 10px;
}


#thirddiv{
    border-radius: 10px;
    width: 80%;
    height: 7.3vh;
    margin-top: 26px;
    background-color: rgb(232, 255, 232);
}


#pip{
    float: left;
    height: 6vh;
    width: 60%;
    background-image: url(./Image/icon-verbal.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x:10%;
    margin-top: 5px;
}


#pips{
    float: right;
    margin-top: 13px;
    margin-right: 10px;
}


#verbal{
    margin-top: 10px;
    margin-left: 40px;
    color: rgb(23, 163, 49);
}


#forthdiv{
    border-radius: 10px;
    width: 80%;
    height: 7.3vh;
    margin-top: 26px;
    background-color: rgb(237, 237, 253);
}

#visual{
    margin-left: 40px;
    color: rgb(79, 79, 220);
    padding-top: 15px;
}


#forthleft{
    height: 6vh;
    width: 60%;
    background-image: url(./Image/icon-visual.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x:10%;
    margin-top: 5px;
    background-position-y:70% ;
}


#forthright{
    float: right;
    margin-top: -25px;
    margin-right: 10px;
}


input{
    padding: 15px;
    border-radius: 20px;
    width: 80%;
    margin-top: 40px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    border: 1px;
}


